<html>
  <head>
  	<meta charset="utf-8">
  	<title>Header cells</title>

  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css" />
  	<style>
  		table {
  			margin-bottom: 2em;
  		}

  		td, th {
  			border: 1px solid #999;
  			padding: 0.1em 1em;
  		}
  	</style>
  </head>
<body>
  <main id="commentMain" class="container-fluid">
    <h1>Comments</h1>
    <nav>
  	  <ul class="nav navbar-light bg-light">
  	    <li><a class="navbar-brand" href="Index.html">Home</a></li>
  	    <li><a class="navbar-brand" href="NavigationBarTwo.html">About</a></li>
  	    <li><a class="navbar-brand" href="navigationBarOne.html">Travel</a></li>
      </ul>
    </nav>
    <br />
    <div>
      <table id="commentTable" class="table table-striped table-sm">
         <thead>
           <tr>
             <th>ID</th>
             <th>Comments</th>
           </tr>
         </thead>
         <tbody id="commentTableBody">
           <tr v-for="comment in comments">
             <td>{{comment.id}}</td>
             <td>{{comment.comment}}</td>
           </tr>
         </tbody>
       </table>
     </div>
    <br />
    <h3 class="info"> Update Information Here:</h3>
    <span class="border"></span>
    <form @sumbit.prevent="handleCommentForm" id="newCommentForm" class="form-inline">
      <label class="sr-only" for="inlineFormInputName2">Comment</label>
      <input type="text" class="form-control mb-2 mr-sm-2" v-model="commentForm.comment" id="Comment" placeholder="Comment" required>
      <button type="submit" id="sumbitNewComment" class="btn btn-primary mb-2">Submit</button>
    </form>
  </main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
 <script src="js/comment.js" ></script>

</body>
</html>
